@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Outfit:wght@300;400;500&family=Overlock&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}


nav {
    /* background: #3b2727; */
    height: 80px;
    width: 100%;
    /* padding: 10px; */
    display: flex;
    justify-content: space-between;
}

.nav-text {
    font-size: 35px;


    color: black;
    line-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

nav ul {
    float: right;
    margin-right: 5em;
}

nav ul li {
    line-height: 80px;
    padding: 0 15px;
    display: inline-block;
    list-style: none;
    font-weight: 400;
    font-family: 'Outfit', sans-serif;

}

nav ul li a {
    font-size: 1.4em;
    color: black;
    padding: auto;
    transition: .5s;
}


a:hover {
    border-bottom: 3px solid black;
    transition: 50ms;

}

.checkbtn {
    font-size: 20px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.fa-bars {
    padding-left: 30px;
}

@media (max-width:1040px) {
    .nav-text {
        font-size: 30px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media(max-width:842px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #342c50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 40px 0;
    }

    nav ul li a {
        font-size: 20px;
    }

    a.active,
    a:hover {
        background: none;
        color: #aa89d0;
    }
}

#check:checked~ul {
    left: 0;
}

.logo {
    display: inline-block;
    width: 100px;

}



/* PAGE 1 CSS */
#page1 {
    height: calc(100vh - 80px);
    display: flex;
}

.page-1-left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 3em;
}

.page-1-left h1 {
    font-weight: 500;
}

.page-1-left h4 {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    margin-bottom: 1em;
}

.page-1-left h1 {
    font-size: 7rem;
    font-family: 'Overlock', cursive;
}

.page-1-right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.page-1-pizza-big {
    max-width: 650px;
    margin-right: -100%;
    z-index: 2;
}

.orange-left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: left;
}

.orange-right {
    background-color: orange;
    width: 50%;
    height: 100%;
    right: 0;
    z-index: 0;
}

.page1-buttons button {
    padding: 7px 14px;
    margin: 0 10px;
    border: none;
    transition: all 150ms;
    cursor: pointer;
    background: #000;
    color: white;
}

.page1-buttons button:hover {
    background: orange;
    color: #000;

}