@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Outfit:wght@300;400;500;600&family=Overlock&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

a {
    color: unset;
    text-decoration: none;
}


nav {
    height: 80px;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    z-index: 999;
}

.nav-text {
    font-size: 35px;
    color: black;
    line-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

nav ul {
    float: right;
    margin-right: 5em;
}

nav ul li {
    line-height: 80px;
    padding: 0 15px;
    display: inline-block;
    list-style: none;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;

}

nav ul li a {
    font-size: 1.4em;
    color: black;
    padding: auto;
    transition: .5s;
}


nav ul li a:hover {
    border-bottom: 3px solid orange;
    transition: 50ms;
    color: orange;
}

.checkbtn {
    font-size: 20px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.fa-bars {
    padding-left: 30px;
}

@media (max-width:1040px) {
    .nav-text {
        font-size: 30px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media(max-width:842px) {
    .checkbtn {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: orange;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 999;
    }

    nav ul li a:hover {
        border-bottom: 3px solid white;
        transition: 50ms;
        color: white;
    }

    nav ul li {
        display: block;
        margin: 40px 0;
    }

    nav ul li a {
        font-size: 20px;
        color: white;
    }


    a:hover,
    a:active {
        background: none;
        background-size: cover;
        color: #fff;
    }
}

#check:checked~ul {
    left: 0;
}


.logo {
    display: inline-block;
    width: 100px;

}



/* PAGE 1 CSS */
#page1 {
    height: calc(100vh - 80px);
    max-height: 1080px;
    overflow: hidden;
    display: flex;
    position: relative;
}

.page1-bg {
    position: absolute;
    top: 0;
    height: 100vh;
    max-height: calc(1080px + 80px);
    width: 80vw;
    background: url(https://github.com/24kaushik/pizza-website/blob/main/assets/PizzaPattern.png?raw=true);
    z-index: -1;
    opacity: .13;
}

.page-1-left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 3em;
}

.page-1-left h1 {
    font-size: 9.3vw;
    font-family: 'Overlock', cursive;
    font-weight: 500;
}

.page-1-left h4 {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
    padding-left: .5em;
    margin-bottom: 1em;
}

.page-1-right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.page-1-pizza-big {
    width: 34vw;
    margin-right: -100%;
    z-index: 2;
}

.orange-left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: left;
}

.orange-right {
    background-color: orange;
    width: 50%;
    height: 100%;
    right: 0;
    z-index: 0;
}

.page1-buttons button {
    padding: .7vw 1.4vw;
    margin: 0 10px;
    border: none;
    transition: all 150ms;
    cursor: pointer;
    background: #000;
    color: white;
}

.page1-buttons button a {
    padding: .7vw 0;
    font-size: 1.5vw;

}

.page1-buttons button:hover {
    background: orange;

}

.page1-mushroom1 {
    height: 4.5vw;
    position: absolute;
    z-index: 2;
    right: 12%;
    top: 8%;
    transform: rotate(32deg);
}

.page1-mushroom2 {
    height: 4.5vw;
    position: absolute;
    z-index: 2;
    right: 7%;
    top: 80%;
    transform: rotate(287deg);
}

.page1-mushroom3 {
    height: 4.5vw;
    position: absolute;
    z-index: 2;
    right: 43%;
    top: 42%;
    transform: rotate(287deg);
}

.page1-tomato1 {
    height: 5vw;
    position: absolute;
    z-index: 2;
    right: 32%;
    top: 81%;
}

.page1-tomato2 {
    height: 5vw;
    position: absolute;
    z-index: 2;
    transform: rotate(244deg);
    right: 27%;
    top: 5%;
}

.page1-tomato3 {
    height: 5vw;
    position: absolute;
    z-index: 2;
    transform: rotate(244deg);
    right: 6%;
    top: 55%;
}

.page1-pepper1 {
    height: 9vw;
    position: absolute;
    z-index: 2;
    transform: rotate(35deg);
    right: 3%;
    top: 17%;
}

.page1-pepper2 {
    height: 9vw;
    position: absolute;
    z-index: 2;
    transform: rotate(239deg);
    right: 42%;
    top: 58%;
}

.page1-pepperoni1 {
    height: 5.2vw;
    position: absolute;
    z-index: 2;
    right: 36%;
    top: 13%;
}

.page1-pepperoni2 {
    height: 5.2vw;
    position: absolute;
    z-index: 2;
    right: 1%;
    top: 5%;
}

.page1-pepperoni3 {
    height: 5.2vw;
    position: absolute;
    z-index: 2;
    right: 45%;
    top: 78%;
}

.page1-onionSlice1 {
    height: 9vw;
    position: absolute;
    z-index: 2;
    transform: rotate(152deg);
    right: 19%;
    top: 78%;
}

.page1-mint1 {
    height: 6vw;
    position: absolute;
    z-index: 2;
    transform: rotate(19deg);
    right: 2%;
    top: 40%;
}

.page1-mint2 {
    height: 6vw;
    position: absolute;
    z-index: 2;
    transform: rotate(250deg);
    right: 44%;
    top: 23%;
}


/* PAGE 2 CSS */

#page2 {
    position: relative;
    padding-bottom: .3em;
}

.page-2-title h1 {
    margin: 1em 0;
    text-align: center;
    font-size: 5vw;
    font-family: 'Josefin Sans', sans-serif;
}

.page-2-pizzaSlice1 {
    position: absolute;
    top: 0%;
    right: 10%;
    width: 17vw;
    transform: rotate(80deg);
    z-index: -1;
}

.page-2-pizzaSlice2 {
    position: absolute;
    top: 0%;
    left: 11%;
    width: 17vw;
    transform: rotate(344deg);
    z-index: -1;
}

.page-2-fries1 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 13vw;
    transform: rotate(344deg);
    z-index: -1;
}

.page-2-pizza1 {
    position: absolute;
    top: 0%;
    left: 30%;
    width: 15vw;
    transform: rotate(344deg);
    z-index: -1;
}


.menu-cards {
    margin: 10rem auto 0 auto;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menu-card {
    border: 2px solid rgb(0, 0, 0);
    min-width: 18rem;
    font-family: 'Outfit', sans-serif;
    border-radius: 4px;
    position: relative;
    margin: .5em;
    padding-bottom: 2.7rem;
    background-color: #fff;
    transition: all 250ms;
}

.menu-card:hover {
    border: 2px solid orange;

    .menu-buy-btn {
        background-color: orange;
    }
}

.menu-cont {
    display: flex;
    flex-direction: column;

}

.menu-item-img {
    width: 17.8rem;
}

.menu-item-name {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 300;
    padding-top: .3em;
}

.menu-item-desc ul {
    margin-top: .2em;
}

.menu-item-desc ul li {
    list-style: none;
    text-align: center;
    color: #707070;
}

.menu-item-price {
    text-align: center;
    padding-top: .5em;
    font-size: 1.4em;
    font-weight: 600;
}

.menu-buy-btn {
    width: 100%;
    height: 2.5rem;
    position: absolute;
    bottom: 0;
    border: none;
    background: #000;
    color: #fff;
    font-size: 1.3em;
    transition: all 150ms;
    cursor: pointer;
}


.menu-view-more {
    display: block;
    margin: 2.5em auto;
    padding: .7vw 1.4vw;
    border: none;
    transition: all 300ms;
    cursor: pointer;
    background: orange;
    color: white;
    font-size: 1.5vw;
    font-weight: 600;
}

.menu-view-more:hover {
    transform: translateY(-5px);
}

/* WAVES PAGE 3 */

.wave-page3 svg {
    margin-top: -20px;
}

.wave-page3 {
    margin-top: -7%;
    width: 100vw;
    z-index: -1;
}


/* PAGE 3 CSS */


#page3 {
    position: relative;
    margin-top: -33%;
    padding-bottom: .3em;
    margin-bottom: 3em;
}

.page-3-title h1 {
    padding: 1.86em 0;
    text-align: center;
    font-size: 5vw;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 1em;
}

.offer-cards {
    display: flex;
    width: 90vw;
    justify-content: space-evenly;
    margin: auto;
    flex-wrap: wrap;
}

.offer-card {
    width: 30rem;
    max-height: 42rem;
    border: 2px solid black;
    border-radius: 5px;
    transition: all .25s;
    cursor: pointer;
    margin: 20px;
}

.offer-card img {
    width: 100%;
    height: 100%;
}

.offer-card:hover {
    border: 2px solid orange;
    scale: 101.5%;
}


/* PAGE 4 WAVE */

.wave-page4 svg {
    margin-top: -20px;
}

.wave-page4 {
    margin-top: -7%;
    width: 100vw;
    z-index: -1;
}

/* PAGE 4 CSS START */
#page4 {
    position: relative;
    margin-top: -35.5%;
    padding-bottom: .3em;
    margin-bottom: 3em;
}

.page-4-title h1 {
    padding: 1.86em 0;
    text-align: center;
    font-size: 5vw;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 1em;
}

#contact-form {
    width: 90vw;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#contact-form-name {
    display: flex;
    margin: auto;
    font-size: 120%;
    border-radius: 5px;
    width: 80%;
}

#contact-form-name div {
    background: orange;
    height: 1.7em;
    padding: 0 .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 8%;
    min-width: fit-content;

}

#contact-name,
#contact-name:focus {
    border: 2px solid orange;
    outline: none;
    padding-left: .2em;
    font-size: .9em;
    width: 92%;
}


#contact-form-email {
    display: flex;
    margin: .5em auto;
    font-size: 120%;
    border-radius: 5px;
    width: 80%;
}

#contact-form-email div {
    background: orange;
    height: 1.7em;
    padding: 0 .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    min-width: fit-content;
    width: 8%;
}

#contact-email,
#contact-email:focus {
    border: 2px solid orange;
    outline: none;
    padding-left: .2em;
    font-size: .9em;
    width: 92%;
}

#contact-query {
    width: calc(80% - 3px);
    border: none;
    outline: 1px solid orange;
    padding: .3em;
    height: 20em;
    font-size: 1.3em;
    resize: vertical;
    min-height: 13rem;
    max-height: 70vh;
}

#contact-form-submit {
    background: orange;
    padding: .3em .8em;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    min-width: fit-content;
    border: none;
    margin: 1em;
    transition: all .25s;
    cursor: pointer;
}

#contact-form-submit:hover {
    transform: translateY(-3px);
}

/* WAVE FOOTER CSS */

.wave-footer {
    margin-top: -5%;
}

/* FOOTER CSS START */

footer {
    background: orange;
    /* height: ; */
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}

.footer-main {
    height: 80%;
    display: flex;
}

.footer-main-left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-main-left img {
    width: 40%;
    mix-blend-mode: multiply;
}

.footer-main-right {
    width: 50%;
    height: 100%;
    padding: 0 10%;
}
.footer-main-right-title h1{
    text-align: center;
    font-size: 5vw;
    color: #fff;
}
.footer-links{
    display: flex;
    justify-content: space-between;
}
.footer-links ul li{
    color: #fff;
    list-style: none;
    font-size: 3vw;
    transition: all .2s;
    cursor: pointer;
    border-bottom: 3px solid orange;
}
.footer-links ul li:hover{
    border-bottom: 3px solid white;
}
.footer-bottom {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3vw;
    color: white;
    padding: 1.5em 0;
}